body {
    display: flex;
    width: 100%;
    margin: auto;

}

#container {
    display: flex;
    flex-wrap: wrap;
    width:50%;
    margin: 50px;
    border: solid 2px black;
    box-sizing: border-box;
}

#container div {
    text-align: center;
    aspect-ratio: 1/1;
    background-color: white;
    border: solid 1px lightgray;
    box-sizing: border-box;
}

#func {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    background-color: rgba(0,0,128, 0.5);
    margin: 50px;
    border: solid 2px black;
    box-sizing: border-box;
}